
# Database configuration
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

# JPA and Hibernate configuration
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=create

# Image upload directory
upload.dir=images

# Secret pass to manage JWT token
jwt.secret=

# Access token expiration time in milliseconds
jwt.token.expiration=

# Refresh token expiration time in milliseconds
jwt.refresh.token.expiration=

# JWT token for testing (admin role, and 100 years of expiration)
jwt.test.token=

# Image limitation configurations
# For image.max.size use an int number. Example: 5242880 is 5 * 1024 * 1024 which is 5MB
# For image.max.width use a pixel size number. Example: 1024
# For image.max.height use a pixel size number. Example: 1024
# For image.max.allowed use an int number. Example: 5
image.max.size=
image.max.width=
image.max.height=
image.max.allowed=

